body {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
background-color: rgb(245, 245, 245);
}

h5{
    margin: 5px;
}

.Login{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    width: 500px;
    height: auto;
    align-items: center;
}
.SignUp{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    width: 500px;
    height: auto;
    align-items: center;
}

.HomeContainer{
    position: relative;
    display: flex;
    margin-top: 80px;
    /* border: 2px solid black; */
    width: auto;
    height: auto;
}

.AddPost{
    /* border: 2px solid black; */
    width: 235px;
    height: 50px;
    margin-left: 50px;
}


.DisplayBox{
    /* position: absolute; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    width: 500px;
    height: auto;
    align-items: center;
}

.Profile{
    /* border: 2px solid black; */
    width: 300px;
    /* height: 400px; */
    margin-left: 110px;
}


.Notification{
    margin-top: 1px;
}

.TitleBar{
    margin-left: 898px;
}